body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5; 
    color: #4a148c;
}

header {
    background-color: #ce93d8;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #4a148c;
}

section {
    margin: 20px 0;
     background-color: #e1bee7;
}

footer {
    background-color: #ce93d8;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    h1, h2 {
        font-size: 24px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
    h1, h2 {
        font-size: 20px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
